body{
	background: linear-gradient(to right, #00b36b , #00ff99);
}

#navbar {
	height: 6em;
	width: 100%
	display: block;   
	margin-top: 0%;
}

#profile {
	width: 15%;
	display: block;   
	margin:0 auto;
   	border-radius: 3%;
	
}

.top{
	display: inline-block;
	float: left;
	margin-left: 2%;
	font-family: Impact;
	color: black;

}

#logo {
	height: 4em;
	display: inline-block;
	float: left;
	
}



.fact{
	color: white;
	font-family: arial;
	text-align: center;
	font-weight: bold;
}

.menu{
	color: black;
	font-family: arial;
	font-weight: bold;
}


a{
	color: white;
	display: block;
	font-family: arial;
	text-decoration: none;
	font-weight: bold;
	text-align: center;
	
}

a:hover{
	color: black;
}

#youtube{
	display: block;
	width: 30%;
	margin: 0 auto;
}


#about{
	margin-top: 5%;
}