body{
	background: linear-gradient(to right, #00b36b , #00ff99);
}

#navbar {
	height: 6em;
	width: 100%
	display: block;   
	margin-top: 0%;
}

#profile {
	width: 15%;
	display: block;   
	margin:0 auto;
   	border-radius: 3%;
	
}

#fullResume{
	width: 33%;
	display: block;   
	margin:0 auto;
   	border-radius: 3%;
}

.top{
	display: inline-block;
	float: left;
	margin-left: 2%;
	font-family: Impact;
	color: black;
}

#logo:hover{
	filter: drop-shadow(10px 10px 10px #404040);
	drop-shadow(10px 10px 10px #404040);
}

.top:hover{
	filter: drop-shadow(10px 10px 10px #404040);
	drop-shadow(10px 10px 10px #404040);
}

#logo {
	height: 4em;
	display: inline-block;
	float: left;
}

#resume{
	margin-top: .8em;
}

.fact{
	color: white;
	font-family: sans-serif;
	text-align: center;
	font-weight: bold;
}


.bullet{
	color: white;
	display: block;
	font-family: sans-serif;
	text-decoration: none;
	font-weight: bold;
	text-align: center;
	
}

.bullet:hover{
	color: black;
}

#youtube{
	display: block;
	width: 30%;
	margin: 0 auto;
}


#about{
	margin-top: 5%;
}